@model CompanyABC.Domain.Entities.Product

@{
    ViewBag.Title = "Details";
}

<!-- Begin Container -->
<div class="container">

<h1>PRODUCT DETAILS</h1>

<table class="table table-striped table-bordered table-hover">
    <tbody>
        <tr>
            <td class="table-bold">@Html.DisplayNameFor(model => model.ABCID)</td>
            <td>@Html.DisplayFor(model => model.ABCID)</td>
        </tr>
        <tr>
            <td class="table-bold">@Html.DisplayNameFor(model => model.Title)</td>
            <td>@Html.DisplayFor(model => model.Title)</td>
        </tr>
        <tr>
            <td class="table-bold">@Html.DisplayNameFor(model => model.Description)</td>
            <td>@Html.DisplayFor(model => model.Description)</td>
        </tr>
        <tr>
            <td class="table-bold">@Html.DisplayNameFor(model => model.Vendor)</td>
            <td>@Html.DisplayFor(model => model.Vendor)</td>
        </tr>
        <tr>
            <td class="table-bold">@Html.DisplayNameFor(model => model.ListPrice)</td>
            <td>@Html.DisplayFor(model => model.ListPrice)</td>
        </tr>
        <tr>
            <td class="table-bold">@Html.DisplayNameFor(model => model.Cost)</td>
            <td>@Html.DisplayFor(model => model.Cost)</td>
        </tr>
        <tr>
            <td class="table-bold">@Html.DisplayNameFor(model => model.Status)</td>
            <td>@Html.DisplayFor(model => model.Status)</td>
        </tr>
        <tr>
            <td class="table-bold">@Html.DisplayNameFor(model => model.Location)</td>
            <td>@Html.DisplayFor(model => model.Location)</td>
        </tr>
        <tr>
            <td class="table-bold">Date Created</td>
            <td>@Html.DisplayFor(model => model.DateCreated)</td>
        </tr>
        <tr>
            <td class="table-bold">Date Received</td>
            <td>@Html.DisplayFor(model => model.DateReceived)</td>
        </tr>
    </tbody>
</table>

<!-- End Container -->
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ABCID }) |
    @Html.ActionLink("Back to List", "List")
</p>
